@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
  scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    margin: 0;
    font-family: "Roboto", Sans-serif;
    user-select: none;
    font-size: 1vw;
}

button {
    background-color: deepskyblue;
    font-size: 1vw;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 0.5vw;
    transition: 0.5s;
    font-weight: 700;
}

button:hover {
    background-color: dodgerblue;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 4vh;
    right: 3vw;
    z-index: 2;
    font-size: 1.5vw;
    padding: 0.5vw;
}

.popup {
    z-index: 2;
    display: none;
    position: fixed;
    top: 20%;
    left: 30%;
}

.popup div{
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 1vw;
    border-radius: 2vw;
}

.popup img {
    height: 65vh;
    width: auto;
    border-radius: 2vw;
}

.header-top {
    display: flex;
    justify-content: right;
    background-color: deepskyblue;
    padding: 0;
    font-weight: 700;
}

.header-top .navbar ul {
    float: left;
    list-style-type: none;
    margin: 1vh 1vw 0.5vh 2vw;
}

.header-top .navbar ul li {
    float: left;
}

.header-top .navbar .headnav {
    margin-right: 10vw;
}

.header-top .navbar .headnav li a {
    margin: 0vh 1.5vw;
    padding: 0;
    font-size: 1.8vh;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.header-top .navbar .headnav li a:hover {
    color: gainsboro;
}

.header-top .navbar .social li a{
    margin: 0vh 0.5vw;
    display: block;
    text-align: center;
    text-decoration: none;
}

.logo-social img {
    width: 1.4vw;
    transition: 0.3s;
    filter: invert(100%);
}

.header-top .logo-social img:hover {
    filter: invert(50%);
}

.header-bottom {
    z-index: 1;
    font-family: "Roboto", Sans-serif;
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.header-bottom .header-logo a {
    margin: 2vh 0vw 0vh 5vw;
}

.header-bottom .header-logo img {
    margin: 0.5vw 0;
    padding: 0;
    height: 5vw;
}

#nav-wrapper {
    position: absolute;
    font-size: 1vw;
    left: 35%;
    top: 50%;
    transform: translateY(-50%);
}

#nav ul {
    font-weight: 500;
    float: right;
    background: deepskyblue;
    padding: 0px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    list-style: none;
    border-radius: 20px;
}

#nav ul li {
    position: relative;
    float: left;
    border-radius: 20px;
    transition: 0.2s;
}

#nav ul li:hover {
    background-color: dodgerblue;
}

#nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 1.5vh 1.5vw;
}

#nav ul li:hover>ul {
    display: block;
}

#nav ul li ul {
    position: absolute;
    padding: 0;
    display: none;
    width: 15vw;
    height: auto;
    transform: translateY(0%);
}

#nav ul li ul li:hover {
    background-color: dodgerblue;
    border-radius: 20px;
    width: 100%;
}

#nav ul li ul li {
    width: 100%;
}

#nav ul li ul li ul {
    position: absolute;
    left: 100%;
    top: 0;
}

.search {
    display: flex;
    position: absolute;
    left: 78%;
    top: 50%;
    transform: translateY(-50%);
}

.search input {
    padding-left: 1vw;
    margin: 0;
    width: 8vw;
    font-size: 1vw;
    border: none;
    outline: 0;
    background-color: rgb(230, 230, 230);
    border-radius: 5px 0px 0px 5px;
}

.search img {
    margin: 0;
    padding: 1.7vh;
    height: 2vh;
    width: auto;
    color: white;
    background-color: deepskyblue;
    border-radius: 0px 5px 5px 0px;
}

footer {
    font-size: 1vw;
    background-color: rgb(25, 25, 25);
    color: white;
}

.footer-associate ul{
    padding: 0;
    display: flex;
    list-style-type: none;
}

.footer-associate ul li{
    width: 16.6vw;
}

.footer-associate img{
    filter: invert(0%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13vw;
}

.footer-associate img:hover{
    filter: invert(50%);
}

.footer-main {
    display: flex;
}

.footer-main img{
    width: 100%;
}

.footer-main .section {
    margin: 10px;
    padding: 10px;
    width: 23vw;
}

#location {
    width: 31vw;
}

#location iframe {
    width: 25vw;
    height: 30vh;
}

.footer-main .section p {
    margin: 10px;
    font-family: "Poppins", sans-serif;
}

.footer-main .section a {
    margin: 10px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: deepskyblue;
}

.footer-main .section h2 {
    margin: 0;
    padding-bottom: 2vh;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5vw;
}

.footer-main .section ul{
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}

.footer-main .section li {
    margin: 1vh 0vw 0vh 0vw;
    padding: 0;
    display: block;
    text-decoration: none;
    transition: 0.3s;
}

.footer-main .section li a {
    margin: 0;
    color: rgb(200, 200, 200);
}

.footer-main .section li a:hover {
    color: deepskyblue;
}

.footer-social{
    margin-top: 5vh;
    text-align: center;
}

.footer-social .logo-social img:hover {
    filter: invert(100%) sepia(20%) saturate(10000%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

.footer-social h2{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 1.3vw;
}

.footer-social ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0vh 0vw 1vh 0vw;
    overflow: hidden;
}

.footer-social ul li{
    float: left;
}

.footer-social li a {
    display: block;
    text-align: center;
    margin: 1vw;
    text-decoration: none;
}

.footer-copyright {
    text-align: center;
    background-color: rgb(15, 15, 15);
    border-style: solid;
    border-width: 0.3vh 0 0 0;
    border-color: rgb(80, 80, 80);
}

.footer-copyright h3{
    font-family: "Roboto", Sans-serif;
    margin: 0;
    padding: 1vw;
    font-size: 95%;
    color: rgb(200, 200, 200);
}
